

table{
        border: 1px solid #c4dcf3;
        border-collapse: collapse;
        text-align: left;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
    }
      
thead {
    color: white;
    background-color: #427fef;
    border-collapse: collapse;
    padding: 20px;
}

tbody {
    background-color: #eef7ff;
}

.box {
    width: 300px;
    height: 300px;
    background: tomato;
    box-shadow: 10px 10px lightgrey;
    border-radius: 10px;
}
    
