<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="10-style.css">
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vel,
        libero nulla ab maxime praesentium eius quisquam enim aliquam dolorem
        quasi, blanditiis sunt aliquid itaque maiores? Laborum, distinctio
        facilis labore doloremque velit nisi cumque error consequuntur
        asperiores? Ullam voluptas delectus quas soluta dolorum reprehenderit,
        laborum aspernatur consectetur. Facere, impedit tenetur.
        </p>
      </div>
      <div class="box">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat,
        quisquam? Voluptas earum modi suscipit aut dolor, id eveniet? Obcaecati
        enim nemo dignissimos, similique ex aliquam provident non tempore
        molestias commodi rem quo id fugiat magni laborum itaque ab quam
        ducimus, natus eveniet, adipisci consectetur? Repudiandae culpa
        doloremque dolorum maiores. At!
        </p>
      </div>
    </div>
  </body>
</html>
