<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="4-style.css">
</head>
<body>
   <div class="box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit facilis voluptate, reprehenderit numquam commodi fugit esse quod amet itaque ipsam adipisci rerum officia explicabo? Sunt iusto tempore dolorum eos, hic laboriosam enim quidem error, expedita nihil, magni minus harum totam earum soluta quae quas ipsum culpa eum facere ducimus possimus!
   </div> 
</body>
</html>